<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day4/ejbModule/com/cts/jpa/main/SampleJPAMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cts.jpa.main.SampleJPAMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day4"/>
</launchConfiguration>
